* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("sunflower_spaced.svg"), linear-gradient(yellow, wheat);
    background-size: 10rem;
    background-attachment: fixed;
    background-repeat: repeat;
}
header {
    background: white;
    margin: 2rem;
    padding: 1rem;
    font-family: sans-serif;
    text-align: center;
    border: 2px solid black;
}
#image-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gallery-image {
    width: 80vw;
    margin-top: 1rem;
    border: 1px solid black;
}